html{
  font-family: 'Klee One', cursive;
}

body{
  margin: 0px;
  justify-content: center;
  display: flex;
  background-image: url("images/2.jpg");
  border-image-width: auto;
}

.logo{
  margin-right: 20px;
  width: 80px;
  background-color: white;
  border-radius: 20%;
  margin-top: 20px;
}
.p_welcome{
  font-size: 20px;
  margin-top: 8px;
}
.main_body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-top: 7%;
  height: fit-content;
  background-color: #FDFFCD;
  opacity: 0.9;
}
.main_body:hover{
  background-color: #F4F9F4;
  opacity:1.0;
  filter:alpha(opacity=100);
}
.temp_img{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 20%;
    margin-right: 20px;
    margin-top: 15px;
}
.signedin{
  display: flex;
  flex-direction: row;

}
.homepage_button{
  float: right;
  width: 100px;
  height: 30px;
  border: none;
  font-size: inherit;
  background-color: #E4FBFF;
  font-weight: bold;
  border-radius:20px;
  cursor: pointer;
  margin-top: 20px;
  font-family: inherit;
  color: #726A95;
  padding-bottom: 4px;
  margin-right: 8px;
}
.homepage_button:hover{
  background-color: #39A2DB;
}
