<!<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WrongPassword-MyDiary</title>
    <link rel="stylesheet" href="static/wrong_pass.css">
  </head>
  <body>
      <main class="main_body">
        <img class="logo"src="static/images/groups.png" alt="ritik">
        <p class="p_welcome">About MyDiary</p>
          <form method="GET" action="/">
              <div class="login">      
                <p><br>It is one of my fun projects. If you have ever, tried to maintain a Personal Diary
                you know how hard it could be to keep that diary and it's contents, a secret.
                All of these worries ends with this app as 
                this was the main idea behind making of this application. Hope you like it.<br>
                <br>
                Made by: Ritik Thapliyal<br>
                Mail: ritikthapliyal123@gmail.com
                </p>    
              </div>
          </form>
      </main>
  </body>
</html>
