<!<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exixts-MyDiary</title>
    <link rel="stylesheet" href="static/not_found.css">
  </head>
  <body>
      <main class="main_body">
        <img class="logo"src="static/images/groups.png" alt="ritik">
        <p class="p_welcome">Welcome to MyDiary</p>
          <form method="GET" action="/">
              <div class="login"></div>
                <img class="logo"src="static/images/sign.png" alt="">
                <p>Account Already exists with this <br>mail id.Please head to Home to login</p>
                <button class="login_button" type="submit">Back to Home</button>
              </div>
          </form>
      </main>
  </body>
</html>
